<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Summary</h2>
<div class="summary">
	<p>You can download a more in-depth resume in PDF format <a href="/assets/Kristi Witts, Front End Developer.pdf">here</a>.<p>
    <ul class="fa-ul">
		<li><i class="fa-li fa fa-chevron-circle-right"></i>Extensive knowledge in web design, web development, and graphic design.</li>
		<li><i class="fa-li fa fa-chevron-circle-right"></i>Specializing in W3C (World Wide Web Consortium) web standards based markup, utilizing semantic markup for structure and CSS (Cascading Style Sheets) for presentation.</li>
		<li><i class="fa-li fa fa-chevron-circle-right"></i>Solid organizational, project and team management skills.</li>
		<li><i class="fa-li fa fa-chevron-circle-right"></i>Reliable, motivated, hard working, and attentive to details.</li>
		<li><i class="fa-li fa fa-chevron-circle-right"></i>Adaptive to new applications and technologies.</li>
		<li><i class="fa-li fa fa-chevron-circle-right"></i>Excellent communicator, both written and oral.</li>
	</ul>
</div><!--//summary-->
</section><!--//section-->