 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<!--<div class="item">
    <h4 class="degree"><a href="http://www.freecodecamp.com/kwitts">Full Stack Web Development Certification</a></h4>
    <h5 class="meta">FreeCodeCamp</h5>
    <div class="time">2016 - Current</div>
</div>--><!--//item-->
<div class="item">
    <h4 class="degree">BA in Media Arts</h4>
    <h5 class="meta">Art Institute of Phoenix</h5>
    <div class="time">2007 - 2011</div>
</div><!--//item-->
</div><!--//education-container-->
