<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experience</h2>
	
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Web Developer &amp; Designer</h3>
                            <div class="time">2012 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Freelance, Everywhere</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Develop front end of websites with HTML, CSS, Javascript/JQuery, Bootstrrap, Wordpress, and some PHP. Design graphics, logos, and email newsletters. Manage communication and deadlines with multiple clients and utilize networking and cold calling for client aquisition.</p>                          
                    </div><!--//details-->
                </div><!--//item-->
	
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Front-End Developer &amp; Graphic Designer</h3>
                            <div class="time">2012 - 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">HOTB Software Solutions, Irvine</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Develop front end of multiple websites, both for in-house companies and outside clients, using MSV, TFS, Atom, and Git with a team of back end .NET developers. Develop front end for state housing counselor portals and HOTB Software Solutions company website. Design graphics, logos, site mock-ups/wireframes, and print materials.</p>
						<ul class="fa-ul">
							<li><i class="fa-li fa fa-chevron-circle-right"></i>Won an award for the company for excellent design on a company website. (<a href="http://voloe.com">Voloe</a>).</li>
							<li><i class="fa-li fa fa-chevron-circle-right"></i>Assisted in the education of coworkers on the use of JIRA for project management.</li>
							<li><i class="fa-li fa fa-chevron-circle-right"></i>Instrumental in the implementation of a company-wide employee education reimbursement program.</li>
						</ul>
                    </div><!--//details-->
                </div><!--//item-->
                
                
                
            </section><!--//section-->
