<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>Below are some examples of my work, including Freelance, Professional, and some exercises.</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="http://github.com/kwitts" target="_blank">My Github</a></span> - 
					<span class="project-tagline">Code samples and personal projects.</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="http://codepen.io/kwitts" target="_blank">My Codepen</a></span> - 
                    <span class="project-tagline">Code samples and projects from FreeCodeCamp.</span>
                </div><!--//item-->
				<div class="item">
                    <span class="project-title"><a href="http://lovelab.com" rel="nofollow" target="_blank">Love Lab</a></span> - 
					<span class="project-tagline">Designed & developed front end of the website (HTML5/.Net Razor MVC, CSS3/LESS, Javascript, jQuery).</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="http://referralclix.com" rel="nofollow" target="_blank">ReferralClix</a></span> - 
					<span class="project-tagline">Designed & developed front end of the website (HTML5, CSS3, Javascript, jQuery); Developed scrolling Javascript animation on the "How it Works" page; designed all graphics.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="http://kathykaehler.net" rel="nofollow" target="_blank">Kathy Kaehler</a></span> - 
					<span class="project-tagline">Developed, implemented, and managed Wordpress and customized template; designed all graphics and logo; reworked data structure of the site for ease-of-use for client.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="http://voloe.com" rel="nofollow" target="_blank">Voloe</a></span> - 
					<span class="project-tagline">Designed and developed front end of the website (HTML5, CSS3, Javascript, jQuery, AJAX); designed all graphics and logo; assisted a team with implementing .NET</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="http://hotbsoftware.com" rel="nofollow" target="_blank">HOTB Software Solutions</a></span> - 
					<span class="project-tagline">A responsive Bootstrap one page theme designed to help app developers promote their mobile apps</span>
                </div><!--//item-->
            </section><!--//section-->